* {
  margin: 0px 0px;
  padding: 0px 0px;
}
html, body {
  height: 100%;
  text-align:center;
}
#container{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom:-29px; /* - height of footer */
}
#footer, #push {
  clear:both; 
  height:29px;
}
#map {
  
  left:10px;
}
#text {
  position: relative; 
  left:630px;
  bottom: 450px;
  width:600px
}
#nagrody {
  position: relative; 
 
  bottom: 200px;
  
}